.menu__point {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #111;
    border: none;
    border-bottom: solid 2px white;
    padding: 15px 0;
    transition: 0.6s ease;
}

.menu__point:hover {
    color: #00648F;
    border-bottom: solid 2px #00648F;
}