.visit-card {
  display: grid;
  /*grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));*/
  border: 0.5px solid rgba(0, 100, 143, 0.6);
  border-radius: 4px;
  position: relative;

  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(144, 144, 144, 0.25);
}
